{% include "mainheader.html" %}

<body>
    <h1>NBA Analytics</h1>
    <div class="page" id="one">
        <ul>
            <li><a href="/teamwins">Team Win Analytics</a></li>
            <li><a href="/playersexp">Experienced Players Distribution</a></li>
            <li><a href="/teamavg">Team Average</a></li>
            <li><a href="/teamstandings">Team Standings Per Season</a></li>
            <li><a href="/teamachievements">Team Achievements</a></li>
            <li><a href="/teamcomp">Team Win Comparision</a></li>
        </ul>

    </div>

</body>

</html>