{% include "mainheader.html" %}
    <div class="container2">
        <h1>Teams Standings For Season</h1>
    </div>
    <div>
        <table class="user-table">
            <thead>
                <tr>
                    <th>Wins</th>
                    <th>Loses</th>
                    <th>Win_Percentage</th>
                    <th>Road</th>
                    <th>Last10</th>
                    <th>Season</th>
                    <th>Conf</th>
                    <th>Division</th>
                </tr>
            </thead>
            <tbody>
                {% for standings in teamstandingsresult %}
                <tr>
                    <td>{{ standings[1] }}</td>
                    <td>{{ standings[2] }}</td>
                    <td>{{ standings[3] }}</td>
                    <td>{{ standings[4] }}</td>
                    <td>{{ standings[5] }}</td>
                    <td>{{ standings[6] }}</td>
                    <td>{{ standings[7] }}</td>
                    <td>{{ standings[8] }}</td>
                    <!-- <td>{{ standings[9] }}</td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</body>

</html>